* {
    box-sizing: border-box;
}

nav {
    width: 100vw;
    padding: 0 px;
    display: grid;
    grid-template-columns: auto 50% auto auto auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


.edit-author-btn, .add-book-btn, .edit_book_button, nav a, nav button, #pagination #up, #pagination #down {
    padding: 8px 12px;
    text-decoration: none;
    border: 2px #787875FF solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(80, 80, 77, 0.92);
    color: #efcdc7;
    box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.5); /* X-offset, Y-offset, Blur, Color */
    &:hover{
        background-color: rgba(58, 58, 57, 0.92);
        box-shadow: 10px 5px 20px rgba(239, 205, 199, 0.5); /* X-offset, Y-offset, Blur, Color */
    }
    &:focus{
        background-color: #989895FF;
        box-shadow: 10px 5px 20px rgba(239, 205, 199, 0.5); /* X-offset, Y-offset, Blur, Color *//
        outline: none;
    }
    &:link, &:visited, &:active {
        color: #efcdc7;
        text-decoration: none;
    }

}

.edit_book_button {
    position: absolute;
    align-items: center;
    top: 10px;
    right: 20px;
}

#author-buttons {  /* These are on Author and Book pages */
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    gap:10px;
    align-items: center;
    top: 10px;
    right: 20px;
}

#author-buttons {
    ;
}

.round {
    border-radius: 50%;
}

#home_button {
    border-radius: 50%;
    padding-bottom: 11px;
    width: 50px;
    height: 50px;
    background-image: url('/static/images/home-chair.png');
    background-size: cover;
    background-position: center;
    border: solid antiquewhite;
    /* box-shadow: 10px 5px 20px rgba(204, 141, 131, 0.5);  */
    box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.5); /* X-offset, Y-offset, Blur, Color */
    &:hover {
        box-shadow: 10px 5px 20px rgba(204, 141, 131, 0.5);
    }
}

.header_form {      /* The search field and search button at the top are in this form */
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 0 0 0;
    border: none;
}

#search_field {
    width: 100%;
    display: inline-block;
    margin: 0 0 0 0;
    border: 2px #787875FF solid;
    cursor: pointer;
    background-color: rgba(80, 80, 77, 0.92);
    color: #efcdc7;
    box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.5); /* X-offset, Y-offset, Blur, Color */
    &:hover{
        background-color: rgba(58, 58, 57, 0.92);
        box-shadow: 10px 5px 20px rgba(239, 205, 199, 0.5); /* X-offset, Y-offset, Blur, Color */
    }
    &:focus{
        outline: none;
        background-color: rgba(58, 58, 57, 0.92);
        box-shadow: 10px 5px 20px rgba(239, 205, 199, 0.5); /* X-offset, Y-offset, Blur, Color *//
    }
}

#search_button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
    &:hover{
        box-shadow: 10px 5px 20px rgba(239, 205, 199, 0.5); /* X-offset, Y-offset, Blur, Color */
    }
    &:focus-within{
        box-shadow: 10px 5px 20px rgba(239, 205, 199, 0.5); /* X-offset, Y-offset, Blur, Color *//
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('/static/images/library.webp');
    background-size: cover; /* Adjusts the image to cover the entire screen */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
}

.content {
    background-color: rgba(80, 80, 77, 0.92);
    color: #F2907E;
    box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.5); /* X-offset, Y-offset, Blur, Color */
    width: 80vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px 40px 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;

}

#author_form {
    max-width: 900px;
    min-width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_field {
    width: 100%;
    margin-top: 10px;
}

.input_field input,
.input_field textarea,
#author_form button,
#add_book_form input,
#edit_book_form input,
#add_book_form button,
#edit_book_form button
{
    width: 100%;
    margin-top: 10px;
}

/* Add books and author forms */
label {
    font-weight: bold;
    text-align: left;
}

input, textarea, button {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(246, 228, 209, 0.78);
    &:hover, &:focus, &:active {
        border-color: #ccc;
        outline: none;
        box-shadow: 0 0 7px rgba(239, 205, 199, 0.5);
    }
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(58, 58, 57, 0.92);
    color: #efcdc7;
    box-shadow: 10px 5px 20px rgba(239, 205, 199, 0.5);
    &:hover{
        background-color: rgba(58, 58, 57, 0.92);
        box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.5); /* X-offset, Y-offset, Blur, Color */
    }
    &:disabled {
        box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.5); /* X-offset, Y-offset, Blur, Color */
    }
}

.biography {
    max-width: 700px;
    text-align: left;

}

#book-list, #book-list-author, #all-authors-list {
    width: auto;
    text-align: left;
    display: grid;
    grid-template-columns:  auto auto auto;
    gap: 2px;
}

.author-books {
    margin-bottom: 30px;
}

#all-authors-list {
    grid-template-columns: auto auto auto auto;
}


.book-list-title-heading {
    background-color: rgba(39, 39, 38, 0.92);
    padding: 10px;
    margin-bottom: 2px;
    box-shadow: 0 0 15px rgba(239, 205, 199, 0.5);
    &:hover{
        background-color: rgba(39, 39, 38, 0.92);
        box-shadow: 0px 0px 30px rgba(239, 205, 199, 0.5);  /* X-offset, Y-offset, Blur, Color */
    }
    border-radius: 5px;
}

.book-list-row, .book-list-row-title {
    background-color: rgba(58, 58, 57, 0.85);
    padding: 10px;
    margin-bottom: 2px;
    box-shadow: 0 0 15px rgba(239, 205, 199, 0.5);
    &:hover{
        background-color: rgba(58, 58, 57, 1);
        box-shadow: 0px 0px 30px rgba(239, 205, 199, 0.5); /* X-offset, Y-offset, Blur, Color */
    }
    border-radius: 5px;
}
.book-list-row {
    width: 100%;
    display: grid;
    align-items: center;
}

.book-list-row-title {
    display: grid;
    grid-template-columns:  30px auto;
    align-items: center;
}

.book-list-row .book-cover, .book-cover img {
    height: 30px;
    width: 20px;
}

#book-list #pagination {
    position: absolute;
    top: 20px;
    right: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    font-size: 12px;
    align-items: center;
}

#book-list #pagination #page_no {
    align-items: center;
}

#book-list #pagination #up {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 70px;
}
#book-list #pagination #down {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 70px;
}


/* Add book */
#add_book_form_container, #edit_book_form_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.show_book_container {
    display: grid;
/*    grid-template-columns: 60% 10% 30%; */
    grid-template-columns: auto auto;
    gap: 3vw;
    margin: 3vw;
}

.show_book_container #book_cover {
    padding-top: 10px;
}
.show_book_container h1 {
    margin-top: 0;
}



#found-author-title-name {
    margin: 20px 0 20px;
    font-weight: bold;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: ; */
    gap: 10px;
}


#author-info {
    margin-top: 0;
    padding: 20px;
    border: 0 solid #ccc;
    width: 40vw;
    max-width: 300px;

}

#add_book_form, #edit_book_form {
    width: 50%;
}

#author-results {
    margin-top: 10px;
}

#author-results div {
    margin-bottom: 10px;
    cursor: pointer;
}

#author-details {
    margin-top: 20px;
}

/* Star rating */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.star-rating input {
    display: none;
}

#rating_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.star-rating label {
    font-size: 2vw;
    color: gray;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}

a:link {
    color: #F2907E;
    text-decoration: none;
}
a:visited {
    color: #F2907E;
}
a:hover {
    color: antiquewhite;
    text-decoration: underline;
}
a:active {
    color: dimgray;
}


