{% extends "common.html" %}

{% block title %}Library Lobby{% endblock %}

{% block content %}

    <h1>Library Lobby</h1>
    <ul>
        {% for author, book in results %}
            <li>
                    <a href="{{ url_for('show_book', book_id=book.book_id) }}">
                        <span class="book-title">{{ book.title }}</span>
                    </a> by
                    <a href="{{ url_for('show_author', author_id=author.author_id) }}">
                        <span class="author">{{ author.name }}</span>
                    </a>
            </li>
        {% endfor %}
    </ul>
        {% if not results %}
            <div>
                There are no books to show.
            </div>
        {% endif %}

{% endblock %}
