{% extends "common.html" %}

{% block title %}Add Author Information{% endblock %}

{% block content %}

        <h1>{{ name }}</h1>

            <!-- Add a Book Button -->
            <a href="{{ url_for('add_author_book', author_id=author_id) }}" class="add-book-btn">Add a Book</a>


        {% if author_image %}
            <img src="{{ author_image }}" alt="{{ name }}" class="author-image">
        {% else %}
            <p><em>No image available</em></p>
        {% endif %}

        <p class="dates">
            <strong>Born:</strong> {{ birth_date }}
            {% if date_of_death %}
                | <strong>Died:</strong> {{ date_of_death }}
            {% endif %}
        </p>

        <div class="biography">
            <h3>Biography:</h3>
            <p>{{ biography }}</p>
        </div>

            <div class="books">
            <h3>Books by {{ name }}:</h3>

            {% if books %}
                <ul class="book-list">
                    {% for book in books %}
                        <a href="{{ url_for('show_book', book_id=book.book_id) }}"><li>{{ book }} </li></a>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No books found for this author.</p>
            {% endif %}

        </div>
                <a id="home_button" href="{{ url_for('home') }}"> </a>
    </div>

{% endblock %}
